<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466864494096-ntl8oh7g96hpehia73b68629hkdt52n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466864494096-ntl8oh7g96hpehia73b68629hkdt52n4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHeKzlP5P8DnAL9HPt4pZUtaUJuyU3vrk</string>
	<key>GCM_SENDER_ID</key>
	<string>466864494096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MeChat</string>
	<key>PROJECT_ID</key>
	<string>mechat-8cb55</string>
	<key>STORAGE_BUCKET</key>
	<string>mechat-8cb55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466864494096:ios:ef03be90586768c4ec5c95</string>
</dict>
</plist>